/*
Box Model Hack
*/

* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}

/* 
Clear fix hack 
*/

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

/*
Google Font
*/

font-family: 'Raleway', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Josefin Sans', sans-serif;

/*
Styles
*/


body {
margin: 0;
padding: 0;
border: 0;


}

a {
    text-decoration: none;

}

h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: lighter;
  color: #fff;
  font-size: 64px;
  margin: 0;

}

h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: lighter;
  color: #fff;
  font-size: 32px;
  margin: 1;
}

h3 {
  font-family: 'Raleway', sans-serif;
  font-weight: lighter;
  color: #757575;
  font-size: 28px;
  margin: 0;
}

.h3-white {
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  color: #fff;
  font-size: 28px;
  margin: 1;
}

.h3-light {
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  color: #BDBDBD;
  font-size: 28px;
  margin: 1;
}



#bold {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}


p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 200;
  color: #333;
  font-size: 16px;
  margin: 10;
}

#p-val {
  font-family: 'Raleway', sans-serif;
  font-weight: lighter;
  color: #fff;
  font-size: 72px;
  margin: 0;
  padding: 0px 0px 20px 0px;
}

#p-val2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #fff;
  font-size: 18px;
  margin: 0;
  padding: 0px 0px 0px 0px;

}

#p-close {
  font-family: 'Raleway', sans-serif;
  font-weight: lighter;
  text-decoration: none;
  color: #fff;
  font-size: 64px;
  margin: 0;
  padding: 25px 35px 0px 0px;
}



.button-hero {
    background-color: #0C6; 
    border: 1px solid #fff;
    color: white;
    padding: 30px 100px;
    letter-spacing: 1px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
    font-size: 16px;
    margin: 0px 0px 0px 0px;
    border-radius: 40px;
}


/*/////////////////////////////////////////////////////////////////////////////////////
Header
//////////////////////////////////////////////////////////////////////////*/

header {
    height: 65px;
    width: 100%;
    margin: 0px 0px 0px 0px;
    padding: 10px 0px 0px 0px;
    background-color: #fff;
}

.logo {
    height: 65px;
    width: 25%;
    margin: 0px 0px 0px 25px;
    padding: 7px 0px 0px 0px;
    color: #fff;
    float: left;
}

.nav-outer {
    height: 65px;
    width: 60%;
    margin: 0px 25px 0px 0px;
    padding: 0px 0px 0px 0px;
    float: right;
}

.nav-main {
    list-style: none;
    margin: 0;
    padding: 5;
    text-align: right;
}

li{
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    color: #fff;
    font-size: 14px;
    padding: 5px 5px;
    text-align: left;
    letter-spacing: 3px;
    text-decoration: none;
    margin: 0px 0px 0px 0px;
    display:inline;
}

.li-login {
    font-weight: bold;

}

.nav-main a{
    display:inline-block;
    margin: 0px 0px 0px 0px;
    padding: 15px 0px 0px 0px;
    color: #0C6;
    text-decoration: none;
}

.nav-main a:hover {
    color: #607D8B;
}


/*/////////////////////////////////////////////////////////////////////////////////////
Hero
//////////////////////////////////////////////////////////////////////////*/


.hero {
    background-image: url("../images/bg2.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    display: inline-block;
    text-align: left;
    height: 600px;
    width: 100%;
    padding: 225px 0px 0px 0px;
    background-color: #0c6;

}

.hero-box {
    width: 70%;
    height: 500px;
    margin: auto;
    padding: 0px 0px 0px 0px;

}


/*/////////////////////////////////////////////////////////////////////////////////////
Services
- JS Buttons launch form overlay
//////////////////////////////////////////////////////////////////////////*/

.book-services {
    height: 750px;
    width: 100%;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    background-color: #fff;

}

.svc-row {
    text-align: center;
    height: 300px;
    width: 100%;
    margin: 15px 0px 50px 0px;
    padding: 0px;
    background-color: #fff; 
    /*    border: 1px dotted #333;    */

}

.svc-container {
    height: 300px;
    width: 30%;
    margin: 0px 10px 0px 10px;
    padding: 50px 20px 0px 20px;
    background-color: fff;
    line-height: 1.1;
    float: left;

}

.button-svc {
    background-color: #0099FF; 
    border: 0px solid #fff;
    color: white;
    padding: 15px 50px;
    letter-spacing: 1px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
    font-size: 13px;
    margin: 15px 0px 0px 0px;
    border-radius: 40px;
}

.button-svc a{
    color: #fff;
    text-decoration: none;
}

.button-svc a:hover {
    color: #ECEFF1;
}


/*/////////////////////////////////////////////////////////////////////////////////////
Product Hero
- JS Carousel
//////////////////////////////////////////////////////////////////////////*/

.product-hero-row {
    text-align: center;
    height: 700px;
    width: 100%;
    margin: 0px 0px 0px 0px;
    padding: 25px 0px 0px 0px;
    background-color: #ECEFF1;
 
}

.product-arrow-left {
    text-align: left;
    height: 50px;
    width: 5%;
    margin: 0px 0px 0px 0px;
    padding: 325px 0px 0px 25px;
    float: left;

}

.prod-image {
    height: 600px;
    width: 35%;
    margin: auto;
    padding: 75px 0px 0px 0px;
    float: left;

}

.prod-cont {
    text-align: left;
    height: 600px;
    width: 55%;
    margin: auto;
    padding: 225px 25px 0px 35px;
    float: left;

}

.product-arrow-right {
    text-align: left;
    height: 50px;
    width: 5%;
    margin: 0px 0px 0px 0px;
    padding: 325px 0px 0px 0px;
    float: left;

}

/*/////////////////////////////////////////////////////////////////////////////////////
Value
- JS Animate Numbers
//////////////////////////////////////////////////////////////////////////*/

.value {
    height: 550px;
    width: 100%;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    background-color: #0C6;
}

.val-row {
    text-align: center;
    height: 300px;
    width: 100%;
    padding: 0px 0px 0px 20px;
    background-color: #0C6;
    /* border: 1px dotted #333; */

}

.val-container {
    display: inline-block;
    height: 300px;
    width: 30%;
    margin: 0px 10px 0px 10px;
    padding: 100px 20px 0px 22px;
    background-color: #0C6;
    float: left;
    /* border: 1px dotted #333; */

}

.val-row-butt {
    text-align: center;
    height: 100px;
    width: 100%;
    padding: 60px 0px 0px 0px;
    background-color: #0C6;
    /* border: 1px dotted #333; */

}


/*/////////////////////////////////////////////////////////////////////////////////////
Partners
- Need other partner logos
//////////////////////////////////////////////////////////////////////////*/

.partners {
    text-align: center;
    height: 525px;
    width: 100%;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    background-color: #f5f5f5;
    border-bottom: 1px solid #BDBDBD; 

}

.part-row-h {
    text-align: center;
    height: 100px;
    width: 100%;
    padding: 65px 0px 30px 0px;
    background-color: #f5f5f5;


}

.part-row {
    text-align: center;
    height: 125px;
    width: 100%;
    padding: 35px 0px 30px 0px;
    background-color: #f5f5f5;


}

.part-container {
    background-image: url("../images/pp.png");
    background-repeat: no-repeat;
    background-size: 100%;
    display: inline-block;
    height: 100px;
    width: 25%;
    margin: 0px;
    padding: 0px;
    background-color: #fff;


}

/* .sep {
    text-align: center;
    height: 25px;
    width: 100%;
    margin: 0px;
    padding: 0px 0px 0px 0px;

}
.sep-line {
    height: 25px;
    width: 80%;
    margin: auto;
    padding: 0px 0px 0px 0px;
    border-bottom: 2px dotted #BBDEFB;


}

*/

/*/////////////////////////////////////////////////////////////////////////////////////
Contact
//////////////////////////////////////////////////////////////////////////*/

.contact {
    height: 750px;
    width: 100%;
    margin: 0px 0px 0px 0px;
    padding: 50px 0px 0px 0px;
    background-color: #fff;
    /* border: 1px dotted #333; */

}

.contact-row {
    text-align: center;
    height: 750px;
    width: 100%;
    padding: 10px 0px 10px 0px;
    margin: 0px 0px 0px 0px;
    background-color: #fff;


}

.contact-box {
    display: inline-block;
    text-align: center;
    height: 650px;
    width: 80%;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    background-color: #fff;
    /* border: 1px dotted #333; */

}

input[type="text"] {
    font-family: 'Open Sans', sans-serif;
    color: #999;
    font-size: 16px;
    font-weight: 200;
    border: 1px solid #ECEFF1;
    border-radius: 5px;
    width: 85%;
    height: 85px;
    padding: 12px 30px;
    margin: 7px 0;
    background-color: #ECEFF1;
    /* border: 1px dotted #333; */
    box-sizing: border-box;
}

textarea {
    font-family: 'Open Sans', sans-serif;
    color: #999;
    font-size: 16px;
    font-weight: 200;
    border: 1px solid #ECEFF1;
    border-radius: 5px;
    width: 85%;
    height: 200px;
    /*  border: 1px dotted #333; */
    margin: 7px 0;
    padding: 12px 30px;
    background-color: #ECEFF1;
    box-sizing: border-box;
    resize: none;
}

textarea:focus, input:focus {
  border: 1px solid #09F;
  background-color: #fff;
}

.button-cont {
    background-color: #0099FF; 
    border: 0px solid #fff;
    color: white;
    padding: 15px 75px;
    letter-spacing: 1px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
    font-size: 13px;
    margin: 10px 0px 0px 0px;
    border-radius: 40px;
}

.button-cont a{
    color: #fff;
    text-decoration: none;
}

.button-cont a:hover {
    color: #ECEFF1;
}



/*/////////////////////////////////////////////////////////////////////////////////////
Footer
//////////////////////////////////////////////////////////////////////////*/

footer {
    height: 125px;
    width: 100%;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    background-color: #4f5e6a;
}

.footer-row {
    width: 100%;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.copy p {
    height: 300px;
    width: 50%;
    margin: 65px 0px 0px 25px;
    padding: 0px 0px 0px 0px;
    color: #fff;
    float: left;
}

.socials {
    height: 300px;
    width: 15%;
    margin: 0px 25px 0px 0px;
    padding: 0px 0px 0px 0px;
    float: right;
    /* border: 1px dotted #333; */
}

.social-img img{
    max-width: 24px;
    margin: 65px 0px 0px 25px;
    padding: 0px 0px 0px 0px;
    float: left;
}

.nav{
    list-style: none;
    margin: 0;
    padding: 10;
    text-align: right;
}
.nav li{
    display: inline-block;
}
.nav a{
    display:inline-block;
    margin: 0px 0px 0px 0px;
    padding: 15px 5px 10px 5px;
    color: #fff;
    text-decoration: none;
}
a:hover {
    color: #ECEFF1;
}


/*/////////////////////////////////////////////////////////////////////////////////////
Pop-Over Form
//////////////////////////////////////////////////////////////////////////*/

.info-form {
    z-index: 10;
    position: absolute;
    height: 5000px;
    width: 100%;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    background-color: #0C6;
    display: none;
}

.close-row { 
    text-align: right;
    height: 100px;
    width: 100%;
    padding: 10px 0px 10px 0px;
    margin: 0px 0px 0px 0px;

}

.form-row {
    text-align: center;
    height: 750px;
    width: 100%;
    padding: 10px 0px 10px 0px;
    margin: 50px 0px 0px 0px;
}


.form-box {
    display: inline-block;
    text-align: center;
    height: 650px;
    width: 80%;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    /* border: 1px dotted #333; */

}

.service-row {
    display: inline-block;
    text-align: center;
    height: 350px;
    width: 85%;
    margin: 10px 0px 10px 0px;
    padding: 25px 0px 0px 0px;
    border: 1px solid #ECEFF1;
    border-radius: 5px;
    background-color: #ECEFF1;

}

.service-box {
    font-family: 'Open Sans', sans-serif;
    color: #999;
    font-size: 20px;
    font-weight: 200;
    line-height: 125%;
    display: inline-block;
    text-align: left;
    height: 250px;
    width: 29%;
    margin: 0px 10px 0px 10px;
    padding: 0px 0px 0px 15px;
    border: 1px dotted #333; 
    float: left;
}

/*input[type="radio"] {
    display:none;
} */













































